{% extends 'WXRCommonBundle::layout.html.twig' %}

{% import 'WXRNewsBundle::news_macros.html.twig' as news %}

{##
 # @param WXR\NewsBundle\Model\CategoryInterface category
 # @param WXR\NewsBundle\Model\PostInterface[] posts
 # @param integer postCount
 # @param integer page
 # @param integer pageCount
 #}

{% block title %}{{ 'layout.news'|trans({}, 'WXRNewsBundle') }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="btn-toolbar">
        <a href="{{ path('wxr_news_post_list') }}" class="btn"><i class="icon-list"></i> {{ 'layout.posts'|trans({}, 'WXRNewsBundle') }}</a>
    </div>

    <div class="page-header">
        <h1>{{ 'layout.news'|trans({}, 'WXRNewsBundle') }} | {{ category.name }}</h1>
    </div>

    {% if category.description %}
    <div class="well">
        {{ category.description|raw }}
    </div>
    {% endif %}

    {{ news.posts_list(posts) }}

    {{ news.pagination(page, pageCount, { slug: category.slug }) }}

{% endblock %}
