{% extends 'WXRCommonBundle::layout.html.twig' %}

{% import 'WXRNewsBundle::news_macros.html.twig' as news %}

{##
 # @param WXR\NewsBundle\Model\PostInterface[] posts
 # @param integer postCount
 # @param WXR\NewsBundle\Model\PostInterface[] stickies
 # @param integer page
 # @param integer pageCount
 #}

{% block title %}{{ 'layout.news'|trans({}, 'WXRNewsBundle') }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'layout.news'|trans({}, 'WXRNewsBundle') }}</h1>
    </div>

    {% if page == 1 and stickies %}

    <div class="well">
        {{ news.posts_list(stickies) }}
    </div>

    {% endif %}

    {{ news.posts_list(posts) }}

    {% if app.security.isGranted('ROLE_ADMIN') %}
    <hr />
    <div class="btn-toolbar">
        <a href="{{ path('admin_wxr_news_post_create') }}" class="btn"><i class="icon-plus"></i> {{ 'layout.add'|trans({}, 'WXRNewsBundle') }}</a>
    </div>
    {% endif %}
    {{ news.pagination(page, pageCount) }}

{% endblock %}
